//The following source was used as a guide to create a loader: https://codepen.io/ruslan_khomiak/pen/MbqWaK

.loader {
  position: sticky;
  top: calc(100vh / 2 - 50px);
  width: 50px;
  height: 50px;
  margin-top: 100px;
  border-radius: 50%;
  background-image: linear-gradient(to right, $black 10%, $app-background-color 50%);
  animation: loader 1s infinite linear;
  transform: translateZ(0);
}

.loader:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 100% 0 0 0;
  background: $black;
  content: '';
}

.loader:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  background: $app-background-color;
  content: '';
}

.loader.loader-a1:after {
  background: $red-tab-color;
}

.loader.loader-a2:after {
  background: $orange-tab-color;
}

.loader.loader-b1:after {
  background: $yellow-tab-color;
}

.loader.loader-b2:after {
  background: $green-tab-color;
}

.loader.loader-c1:after {
  background: $blue-tab-color;
}

.loader.loader-c2:after {
  background: $indigo-tab-color;
}

.loader.loader-superhero:after {
  background: $violet-tab-color;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
