@font-face {
  font-family: 'Fedoka One';
  src: url('./assets/fonts/FredokaOne-Regular.ttf');
  src: url('./assets/fonts/FredokaOne-Regular.eot');
  src: url('./assets/fonts/FredokaOne-Regular.woff');
  src: url('./assets/fonts/FredokaOne-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}