$black: #212121;
$grey-background-color: #EFEFEF;
$app-background-color: #FFFDF2;
$modal-background-color: #FFFDF2;
$placeholder-text-color: #ADACAC;
$error-background-color: #FCD6D6;
$error-text-color: #DF4141;
$red-tab-color: #FFDFDF;
$orange-tab-color: #FDDEC1;
$yellow-tab-color: #FFFCBE;
$green-tab-color: #DBFFC5;
$blue-tab-color: #DDFBFF;
$indigo-tab-color: #D5EAFE;
$violet-tab-color: #E2DDFF;
$blackout: rgba(33, 33, 33, 0.5);

$fedoka: 'Fedoka One', sans-serif;
$balsamiq: 'Balsamiq Sans', cursive;
$lexend: 'Lexend Deca', sans-serif;

$about: url('./assets/svg/about.svg');
$audio: url('./assets/svg/audio.svg');
$auth: url('./assets/svg/auth.svg');
$close: url('./assets/svg/close.svg');
$delete: url('./assets/svg/delete.svg');
$done: url('./assets/svg/done.svg');
$easy: url('./assets/svg/easy.svg');
$error: url('./assets/svg/error.svg');
$game: url('./assets/svg/game.svg');
$github: url('./assets/svg/github.svg');
$hard: url('./assets/svg/hard.svg');
$irina: url('./assets/svg/irina.svg');
$language: url('./assets/svg/language.svg');
$login: url('./assets/svg/login.svg');
$logout: url('./assets/svg/logout.svg');
$menu: url('./assets/svg/menu.svg');
$rsschool: url('./assets/svg/rsschool.svg');
$sprint: url('./assets/svg/sprint.svg');
$statistic: url('./assets/svg/statistic.svg');
$student-book: url('./assets/svg/student-book.svg');
$tati: url('./assets/svg/tati.svg');
$vadim: url('./assets/svg/vadim.svg');
$vocabulary: url('./assets/svg/vocabulary.svg');

$main-page-img: url('./assets/img/main-page.png');
$game-page-img: url('./assets/img/game-page.png');
